There is an activity named "{{ goal_activity_name }}", please use less than 15 words to guess what the activity is for.
For example, these are possible answers:
`{{ prefix }} for showing the detail of a subject` or `{{ prefix }} for managing theme settings.`

ONLY REPLY with clear description in one paragraph. Do not use uncertain words like "likely". Do not use index number. Begin your reply with `{{ prefix }}`
