Currently, we are exploring the moblie app {{ package_name }}.
Our target is to achieve activity {{ goal_activity_name }}, which may be an activity for {{ goal_description }}.
Here are all of the activities we have found so far:
{% for activity_name, activity_description in activities.items() %}
{{ loop.index }}. Name: {{ activity_name }}{% if activity_description %}; Description: {{ activity_description }}{% endif %}
{% endfor %}

In your opinion, which activity is the most relevant to {{ goal_activity_name }}? Why?
Please first give your analysis, and then end your reply with `Activity <activity name> is my choice`, where `<activity name>` is the name of chosen activity.